{% macro relativeTime(timestamp, format) %}
    {%- if timestamp -%}
        <span class="cb-tooltip" data-cb-tooltip="{{ timestamp|date(format ?: 'D, M j, Y g:i A') }}">{{ diffForHumans(timestamp) }}</span>
    {%- else -%}
        {{ 'Never'|t('backup') }}
    {%- endif -%}
{% endmacro %}

{% macro formatBytes(bytes) %}
    {%- if bytes >= 1024 * 1024 * 1024 -%}
        {{ (bytes / 1024 / 1024 / 1024)|number_format(2) }} GB
    {%- elseif bytes >= 1024 * 1024 -%}
        {{ (bytes / 1024 / 1024)|number_format(2) }} MB
    {%- elseif bytes >= 1024 -%}
        {{ (bytes / 1024)|number_format(1) }} KB
    {%- else -%}
        {{ bytes }} B
    {%- endif -%}
{% endmacro %}
